@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* types of css 

    1. inline css
    2.internal css
    3. external css

*/

/* selectors  

4.universal
3.element
    1.class
    2.id


*/

 .para-1{
    font-family: "Roboto", sans-serif;
    font-size: 18px ;
    font-weight: 900;
    font-style: italic;
    line-height: 25px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.box-container{
    
}

